<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.mapper.AnswerRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.code.pojo.AnswerRecord">
        <id column="sutdent_item_id" property="sutdentItemId" />
        <result column="itemset_id" property="itemsetId" />
        <result column="checkingRate" property="checkingRate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sutdent_item_id, itemset_id, checkingRate
    </sql>

</mapper>
